<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Administrador</title>
    <link rel="stylesheet" th:href="@{/css/login-admin.css}">
</head>
<body>
    <h2>--ADMINISTRADOR--</h2>
    <form th:action="@{/admin/login}" method="post">
        <label>Usuario: <input type="text" name="username" required></label><br>
        <label>Contraseña: <input type="password" name="password" required></label><br>
        <button type="submit">Ingresar</button>
        <a th:href="@{/inicio}" class="button-link">Página Principal</a>
    </form>
    <div th:if="${param.error}" style="color:red;">Usuario o contraseña incorrectos.</div>
    <div th:if="${param.logout}" style="color:green;">Has cerrado sesión correctamente.</div>
</body>
</html>
